@{
    ViewBag.Title = "Gamer";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<div class="container contatoForm">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Dados</a></li>
            <li role="presentation"><a href="#">Perfil</a></li>
            <li role="presentation"><a href="#">Solicitações</a></li>
        </ul>

        <br /><br />
        <button type="submit" class="btn btn-danger">Jimmy</button>

    </div>



    @*<div class="row">
        <div class="col-md-8 form">
            <form method="post">
                <div class="form-group">
                    <label>
                        NOME:
                    </label>

                    <input type="text" id="fale_nome" required="required" name="fale_nome" class="form-control required">
                </div>

                <div class="form-group">
                    <label>
                        E-MAIL:
                    </label>

                    <input type="text" id="fale_email" name="fale_email" class="form-control required">
                </div>

                <div class="form-group">
                    <label>
                        TELEFONE:
                    </label>

                    <input type="text" id="fale_telefone" name="fale_telefone" class="form-control">
                </div>

                <div class="form-group">
                    <label>
                        ASSUNTO:
                    </label>

                    <input type="text" id="fale_assunto" name="fale_assunto" class="form-control">
                </div>

                <div class="form-group" style="max-width:600px">
                    <label>
                        MENSAGEM:
                    </label>

                    <textarea cols="80" rows="5" id="fale_pergunta" name="fale_pergunta" class="form-control"></textarea>
                </div>

                <p>
                    <input type="button" onclick="grava();" class="button" value="ENVIAR MENSAGEM" />
                </p>

                <input type="hidden" name="" value="1" />
                <input type="hidden" name="" value="1" />
                <input type="hidden" name="" value="0" />

            </form>
        </div>


    </div>*@
</div>